#partyBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0.75;
  background-color: white;
  height: 65vh;
  border-style: none;
  border-radius: 3em;
  box-shadow: 0px 7px rgba(77, 77, 104, 0.2);
}

.title {
  margin-bottom: 1em;
}

.choice {
  margin-bottom: 1em;
}

.buttonChoice {
  border: none;
  background-color: #777bff;
  height: 7em;
  width: 35em;
  outline: none;
}

.buttonChoice p {
  font-size: 4em;
  margin: auto;
  color: #ffffff;
}

.buttonChoice:nth-child(1) {
  border-radius: 10em 0 0 10em;
}

.buttonChoice:nth-child(2) {
  border-radius: 0 10em 10em 0;
}

button {
  outline: none;
}

.notClick {
  transition: 1000ms;
  opacity: 0.5;
}

.code {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.codeText {
  background-color: #777bff;
  height: 5.5em;
  width: 25em;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5em;
}

.codeText p {
  font-size: 2.5em;
  color: #ffffff;
  text-transform: uppercase;
}

.codeInput {
  background-color: #777bff;
  height: 5em;
  width: 25em;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.codeInput input {
  height: 80%;
  width: 95%;
  border: none;
  border-radius: 10em;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.control {
  display: flex;
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
}

.control button {
  border: none;
  background-color: #777bff;
  height: 7em;
  color: #ffffff;
  border-radius: 10em;
  text-transform: uppercase;
}

.control button:nth-child(1) {
  background-color: #e74c3c;
  box-shadow: 0px 7px rgba(231, 76, 60, .2);
  width: 20em;
  margin-right: 10em;
}

.control button:nth-child(2) {
  background-color: #2ecc71;
  box-shadow: 0px 7px rgba(46, 204, 113, .2);
  width: 35em;
}

.control button p {
  font-size: 2em;
}

.hidden {
  transition: 1000ms;
  display: none;
}

.random {
  width: 35em;
  border-radius: 0.5em;
  border: none;
  background-color: #6c70e2;
  height: 5.5em;
  box-shadow: 0px 7px #777cff27;
  display: flex;
  bottom: 50%;
}

.random a {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  margin: auto;
}

.Scrollbar {
  height: 5em;
  width: 25em;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HScrollbar {
  background-color: #707070;
  height: 0.5em;
  width: 20em;
  top: 50%;
  border-radius: 1em;
}

.Scrollpoint {
  height: 1.5em;
  width: 1.5em;
  position: relative;
  border-radius: 100em;
  background-color: #6c70e2;
  left: var(--mouse-x);
  bottom: 100%;
}

.scrollValue {
  padding: 0 0 3em 1em;
  position: absolute;
}

.LeftValue {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #6c70e2;
}

.RightValue {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #6c70e2;
}

.RightValue:hover, .LeftValue:hover {
  transition: 1000ms;
  transform: scale(1.1);
}

@media all and (max-width: 1280px) {
  .title {
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  #partyBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0.75;
  }
  .random {
    width: 100%;
    height: 100%;
    bottom: 13%;
    box-shadow: 0px 2px #777cff27;
  }
  .random a {
    font-size: 0.7em;
    margin: auto;
  }
  .choice {
    width: 90%;
    padding: auto;
  }
  .buttonChoice {
    width: 45%;
    height: 90%;
    padding: 1em;
  }
  .buttonChoice p {
    font-size: 3em;
  }
  .code {
    width: 90%;
    margin-top: 0.5em;
  }
  .codeText {
    width: 50%;
    height: 50%;
    margin-right: 2em;
  }
  .codeText p {
    font-size: 1em;
  }
  .Scrollbar {
    width: 45%;
  }
  .control {
    margin-top: 1em;
    width: 90%;
  }
  .codeInput {
    height: 90%;
    width: 50%;
  }
  .codeInput input {
    height: 90%;
    width: 95%;
    font-size: 1em;
  }
}