html {
  min-height: 100%;
  background: rgb(214, 223, 255);
  background: linear-gradient(0deg, rgba(214, 223, 255, 1) 0%, rgba(214, 223, 255, 1) 45%, rgba(238, 238, 238, 1) 45%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
  display: flex;
}

body {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
}

a, p, ::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-decoration: none;
}

::placeholder {
  color: #d5d5d5;
}

header {
  display: flex;
  justify-content: space-between;
}

#connect {
  width: 155px;
  background: white;
  border-radius: 30px;
  height: 40px;
}

#round {
  width: 15px;
  height: 15px;
  padding: 6px;
  border-radius: 100%;
  background-color: #777bff;
  top: 6px;
  position: relative;
  left: 7px;
}

#connect a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  opacity: 1;
  outline: none;
  left: 25px;
  color: #000;
  white-space: nowrap;
}

#logo {
  outline: none;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 1%;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}


.container{
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}

#container2 {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 13%;
}

.blocks {
  flex: auto;
  display: flex;
  column-gap: 8%;
}

.block {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex: 1;
  border-style: none;
  border-radius: 15%;
  box-shadow: 0px 7px rgba(0, 0, 255, .2);
  transition-duration: 1000ms;
  transform: scale(1);
  margin-bottom: 5%;
}

.block:hover {
  transition-duration: 1000ms;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.create {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(177, 182, 255, 1) 40%);
}

.join {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 198, 177, 1) 40%);
}

.block p {
  margin: auto;
  text-align: center;
  color: black;
  font-size: 4.5em;
  outline: none;
}

.block .plein {
  flex: 4;
  display: flex;
  justify-content: center;
}
.block .vide {
  flex: 6;
}

#pseudo {
  margin: auto;
  height: 50px;
  width: 100%;
  border-style: none;
  border-radius: 30px;
  text-align: center;
  color: black;
  font-size: 2rem;
  background-color: white;
  padding: 10px 0px 10px;
}

#pseudo:focus {
  border: 2px solid rgba(177, 182, 255, 1);
}

@media all and (max-width: 1600px)
{
  .block p {
    font-size: 3em;
  }
}

@media all and (max-width: 1024px)
{
  .block p {
    font-size: 2em;
  }
}

@media all and (max-width: 700px)
{
  .block p {
    font-size: 1.5em;
  }
}