html{
    
    height: 100%;
}
body{
  
   
    background: rgb(214,223,255);
background: linear-gradient(0deg, rgba(214,223,255,1) 0%, rgba(214,223,255,1) 50%, rgba(238,238,238,1) 50%);
  
}
a,p ,::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
::placeholder{

    color: #d5d5d5;
    
}
#container
{
    display: flex;
    justify-content: space-between;
}

#connect {
    width: 155px;
    background: white;
    border-radius: 30px;
    height: 40px;
    
}
#round{
    width: 15px;
height: 15px;
padding: 6px;
border-radius: 100%;
background-color: #777bff;
top: 6px;
position: relative;
left: 7px;

}
#connect a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    opacity: 1;
    outline: none;
    left: 25px;
    color: #000;
    white-space: nowrap;
}
#logo{
    outline: none;
    text-decoration: none;
    color: white;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.3);

}
#container2{
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
    position: relative;

    
}
.block{
    margin: 50px;
    height: 300px;
    width: 360px;
    border-style: none;
    border-radius: 15%;
    box-shadow: 0px 7px  rgba(0, 0, 255, .2);
    transition-duration: 1000ms;
    transform: scale(1);
    
}
.block:hover{
    transition-duration: 1000ms;
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
.create{
   
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 40%, rgba(177,182,255,1) 40%);
}
.join{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 40%, rgba(255,198,177,1) 40%);
}

.block a{
    text-align: center;
top: 200px;
position: relative;
color: black;
text-decoration: none;
font-size: 4rem;
display: block;
}

#pseudo{
    height: 50px;
    width: 957px;
    border-style: none;
    border-radius: 30px;
    text-align: center;  
    color: black;
    font-size: 2rem;
    
    background-color: white;
    padding: 10px 0px 10px;
}
#pseudo:focus{
    border: 2px solid rgba(177,182,255,1);
}
